{% extends "base.html" %}


{% block content %}
    <section id="content" class="body">
      <h1 class="entry-title">You found me.</h1>
      
<div class="row">
<div class="col-lg-12">
<div class="entry-content">
<div class="container">

<div class="col-md-4" style="padding-left: 0px;  padding-right: 0px;">
<img alt="My photo should have appeared here." class="img-circle" src="images/avatar.jpg" height="300" width="300">
</div>

<div class="col-md-4">
<p>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). 
        </p>

</div>



<div class="col-md-4">
	

<ul class="list-group list-group-flush">

<li class="list-group-item"><h4 id="social"><i class="fa fa-home fa-lg"></i><span class="icon-label">Contact me</span></h4>
<ul class="list-group">
<li class="list-group-item"><i class="fa fa-envelope fa-lg"></i> mail@mail.mail</li>

</ul>
</li>

</ul>

</div>
</div>


    </section>
        </div>
    </div>      
      
      
{% endblock %}
